<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="css/style.css" rel="stylesheet">
    <title>Django Crud aplication</title>
  </head>
  <body>
    
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/tasks">Tasks</a>
        </li>
        <!--Mostramos el Signup en caso de que el user no este registrado-->
        {% if user.is_authenticated %}
        <li>
          <a href="/logout">Logout</a>
        </li>
        {% else %}
        <li>
          <a href="/signup">Signup</a>
        </li>
        {% endif %}
      </ul>
    </nav>
    {% block content %}
    {% endblock %}
  
  </body>
</html> 
